body {
    background: #03001A;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#task-generator {
}

#task-generator input {
    font-size: 24px;
}

#task-generator button {
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

#task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    color: white;
    margin-bottom: 2vh;
}